@font-face {
    font-family: 'Miso';
    src: url('../fonts/Miso-Bold.woff2') format('woff2'),
        url('../fonts/Miso-Bold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Miso';
    src: url('../fonts/Miso.woff2') format('woff2'),
        url('../fonts/Miso.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

